---
layout: 'default'
prefix: 'cp'
---

<div class="cp-menu">
    <h1 class="cp-head">
        <a class="click-interact" href="{{ meta.url }}">
            {{ meta.title }}
        </a>
    </h1>
    {% include menu, data: nav, classes: "cp-menu-top" %}
</div>

<main class="cp-main">
    {{ content }}
</main>